<li>
	{{burger_name}}

	<button class="change-burger" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}DEVOUR!{{else}}BACK ON THE MENU!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">X</button>
</li>
